$color-soft-red: hsl(7, 99%, 70%);
$color-yellow: hsl(51, 100%, 49%);
$color-graphic-design-text: hsl(167, 40%, 24%);
$color-photography-text: hsl(198, 62%, 26%);
$color-footer-bg: hsl(168, 44%, 70%);
$color-footer-text: hsl(167, 34%, 41%);

$color-dark-desat-blue: hsl(212, 27%, 19%);
$color-blue-gray-dark: hsl(213, 9%, 39%);
$color-blue-gray: hsl(232, 10%, 55%);
$color-blue-gray-light: hsl(210, 4%, 67%);
$color-white: hsl(0, 0%, 100%);