.header {
    background: url(../images/mobile/image-header.jpg);
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    width: 100%;
}

.nav-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 3rem;
}

.nav {
    &__logo {
        width: 12rem;
        height: 3rem;
        fill: $color-white;
    }

    &__toggle {
        width: 3rem;
        height: 3rem;
        fill: $color-white;
    }

    &__list {
        display: none;
    }
}