.header {
    background: url(../images/mobile/image-header.jpg);
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    width: 100%;

    @include respond(med) {
        background: url(../images/desktop/image-header.jpg) #42bfff;
        background-size: 100%;
        background-position: bottom;
        background-repeat: no-repeat;
        min-height: 90vh;

    }
}

.nav-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 3rem;
}

.nav {
    &__logo {
        width: 12rem;
        height: 3rem;
        fill: $color-white;

        @include respond(med) {
            width: 17rem;

        }
    }

    &__toggle {
        width: 3rem;
        height: 3rem;
        fill: $color-white;
        position: fixed;
        top: 3rem;
        right: 3rem;
        transition: all .3s;
        z-index: 100;

        &:hover {
            cursor: pointer;
            fill: $color-soft-red;
        }

        @include respond(med){
            display: none;
        }
    }

    &__list-holder {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90vw;
        height: 80vh;
        background-color: $color-white;
        box-sizing: border-box;
        position: fixed;
        top: 7rem;
        right: 4rem;
        clip-path: polygon(0 6%, 93% 6%, 100% 0, 100% 100%, 0 100%);
        z-index: 100;
        transition: all .3s;

        @include respond(med){
            display: flex;
            position: relative;
            height:auto;
            padding:1rem 0;
            top:0;
            right:0;
        }
    }


    &__list {
        font-family: 'Barlow', sans-serif;
        font-size: 2rem;
        line-height: 1.5;
        list-style: none;
        height: 100%;
        text-align: center;
        margin-top: 9rem;
        @include respond(med){
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 0;
        }
    }

    &__link {
        margin: 6rem 0;
        display: block;

        @include respond(med){
            margin:0 3rem;
        }

        &--link:link,
        &--link:visited {
            color: $color-blue-gray;
            transition: all .3s;

            @include respond(med){
                color:$color-white;
            }
        }

        &--link:hover {
            color: $color-soft-red;
        }

        &--btn {
            font-size: 2rem;
            font-family: 'Fraunces', serif;
            font-weight: 900;
            background-color: $color-yellow;
            padding: .5rem 3rem;
            border-radius: 3rem;
            transition: all .3s;

            &:link,
            &:visited {
                color: $color-dark-desat-blue ;


                @include respond(med){
                    color:$color-dark-desat-blue;
                    background-color: $color-white;
                }
            }

            &:hover {
                color: $color-yellow;
                background-color: $color-dark-desat-blue;


                @include respond(med){
                    color:$color-dark-desat-blue;
                    background-color: rgba($color-white , .7);
                }
            }
        }
    }
}


.hidden {
    color: transparent;
    background-color: transparent;
    width: 0;
    transition: all .3s;


    @include respond(med){
        width:inherit;
        color:inherit;
        background-color: inherit;
    }
}