@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

.heading-primary {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 4rem;
    color: $color-white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3rem;
    width: 70%;
    text-align: center;
    margin: 15rem auto 0;
    line-height: 1.6;

    @include respond(med) {
        font-size: 5.6rem;
        letter-spacing: 8.75px;
    }
}

.heading-secondary {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 3.2rem;
    color: $color-dark-desat-blue;
    text-align: center;

    @include respond(med) {
        font-size: 4rem;
        letter-spacing: -.29px;
        text-align: left;
        width: 60%;
    }
}

.heading-tertiary {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 2.8rem;
    color: $color-dark-desat-blue;
    text-align: center;
    margin-bottom: 2rem;

    @include respond(med) {
        font-size: 2.8rem;
        letter-spacing: -.2px;
    }
}

.heading-four {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: $color-blue-gray;
    text-align: center;
    margin-bottom: 5rem;

    @include respond(med) {
        font-size: 2rem;
        letter-spacing: 5px;
    }
}

p {
    font-family: 'Barlow', sans-serif;
    font-size: 1.8rem;
    line-height: 3rem;
    color: $color-blue-gray;

    @include respond(med) {
        font-size: 1.8rem;
        letter-spacing: -.13px;
    }
}